<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <!----------CSS (BOOTSTRAP)---------->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!----------CSS---------->
        <link rel="stylesheet" href="./index/styles.css">
    </head>
    <body>
        <main>
            <section class="main__sectionZero">
                <h1>¡Bienvenido!</h1>
                <p>Ya tengo cuenta, <a href="/login">ir al LOGIN</a>.</p>
                <p>Aún no tengo cuenta, <a href="/signup">REGISTRARME</a>.</p>
            </section>
        </main>
    </body>
</html>